{% extends 'base.html.twig' %}
{% block title %}Authentification requise{% endblock %}
{% block body %}
    <div class="alert alert-warning mt-4">
        <h2>Vous devez être connecté pour accéder à cette page.</h2>
        <a href="{{ path('e01_sign-in') }}" class="btn btn-primary">Se connecter</a>
        <a href="{{ path('e01_sign-up') }}" class="btn btn-secondary">S’inscrire</a>
        <a href="{{ path('e01_index') }}">Retour</a>
    </div>
{% endblock %}
