{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
<h1>Bienvenue sur le site de l’e03</h1>

{% if not app.user %}
    <a href="{{ path('login') }}" class="btn btn-primary">Se connecter</a>
    <a href="{{ path('e03_sign_up') }}" class="btn btn-secondary">S’inscrire</a>
{% else %}
    <a href="{{ path('e03_welcome') }}" class="btn btn-success">Aller sur la page Welcome</a>
    <a href="{{ path('e03_sign_out') }}" class="btn btn-danger">Se déconnecter</a>
{% endif %}
{% endblock %}
