{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur le site de l’e06</h1>

    {% if not app.user %}
        <a href="{{ path('e06_sign_in') }}" class="btn btn-primary">Se connecter</a>
        <a href="{{ path('e06_sign_up') }}" class="btn btn-secondary">S’inscrire</a>
    {% else %}
        <a href="{{ path('e06_welcome') }}" class="btn btn-success">Aller sur la page Welcome</a>
        <a href="{{ path('e06_sign_out') }}" class="btn btn-danger">Se déconnecter</a>
    {% endif %}
{% endblock %}
