{% extends 'base.html.twig' %}
{% block title %}Erreur base de données{% endblock %}
{% block body %}
    <div class="alert alert-danger mt-5">
        <h2>Erreur technique</h2>
        <p>{{ error_message }}</p>
        <p class="text-muted">{{ exception_message }}</p>
        <a href="{{ path('e05_index') }}">Retourner à l'accueil</a>
    </div>
{% endblock %}
