{% extends 'base.html.twig' %}

{% block title %}Page non trouvée (405){% endblock %}

{% block body %}
    <div class="error-container">
        <h1>Erreur 405</h1>
        <p>Désolé, l'action que tu as accomplie n'est pas autorisée en format GET, seule le format POST est possible !</p>
		<p>Cette erreur est souvent causée par une tentative de modification de données via une requête GET, 
		ce qui n'est pas permis.</p>
		<p>Assure-toi d'utiliser la méthode POST pour les actions de modification.</p>

        <p>Ceci est un message d'erreur personnalisé.</p>
        <a class="back-btn" href="{{ path('e01_index') }}">Revenir à l'accueil</a>
    </div>
{% endblock %}
