{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Accès refusé{% endblock %}
{% block body %}
    <div class="alert alert-warning">
        <h2>Accès refusé !</h2>
        <p>Vous devez être connecté pour accéder à cette page ou vous n'avez pas le bon rôle.</p>
        <a href="{{ path('e06_sign_in') }}" class="btn btn-primary">Se connecter</a>
        <a href="{{ path('e06_sign_up') }}" class="btn btn-secondary">S’inscrire</a>
    </div>
{% endblock %}
